@font-face {
  font-family: "Calibre";
  src: url("/fonts/Calibre/Calibre-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Calibre";
  src: url("/fonts/Calibre/Calibre-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Calibre";
  src: url("/fonts/Calibre/Calibre-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Calibre";
  src: url("/fonts/Calibre/Calibre-Semibold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF Mono";
  src: url("/fonts/SFMono/SFMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
